<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.saschahlusiak.freebloks"
    android:versionCode="1"
    android:versionName="0.0.1_pre1" >

    <uses-sdk android:minSdkVersion="8" 
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/freebloks"
        android:label="@string/app_name" >
        <activity
            android:name=".startscreen.StartScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game.FreebloksActivity"
            android:label="@string/app_name" >
        </activity>
   		<activity
            android:name=".preferences.FreebloksPreferences"
            android:label="@string/app_name" >
        </activity>        
    </application>

</manifest>