<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.saschahlusiak.freebloks"
    android:versionCode="18"
    android:versionName="0.0.6" >

    <uses-sdk android:minSdkVersion="8" 
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

	<supports-screens
	    android:smallScreens="true"
	    android:normalScreens="true"
	    android:largeScreens="true" 
	    android:xlargeScreens="true" />

    <application
        android:icon="@drawable/freebloks"
        android:label="@string/app_name" >
        <activity
            android:name=".game.FreebloksActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game.GameFinishActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
   		<activity
            android:name=".preferences.FreebloksPreferences"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_freebloks"
            android:exported="false"
            android:theme="@style/Theme.Freebloks.Dialog" >
            <intent-filter>
                <action android:name="de.saschahlusiak.freebloks.SHOW_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>