<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.saschahlusiak.freebloks"
    android:versionCode="49"
    android:versionName="0.3.5" >

    <uses-sdk android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

	<uses-feature android:glEsVersion="0x00010000" android:required="true" />
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />


	<supports-screens
	    android:smallScreens="true"
	    android:normalScreens="true"
	    android:largeScreens="true"
	    android:xlargeScreens="true" />

    <application
        android:icon="@drawable/appicon_small"
        android:label="@string/app_name"
        android:backupAgent=".backup.FreebloksBackupAgent"
        android:restoreAnyVersion="true"
        android:allowBackup="true"
        android:killAfterRestore="true" >

        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIR_4yQhng55BwxHabL4lnZTsSeT7G8uIACcuntQ" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".game.FreebloksActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.saschahlusiak.freebloks.game.GameFinishActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Freebloks.Dialog" >
        </activity>
   		<activity
            android:name=".preferences.FreebloksPreferences"
            android:icon="@drawable/gears"
            android:label="@string/preferences" >
        </activity>
        <activity
            android:name=".stats.StatisticsActivity"
            android:label="@string/statistics"
            android:theme="@style/Theme.Freebloks.Light"
            android:icon="@drawable/stats"
            android:exported="false" >
            <intent-filter>
                <action android:name="de.saschahlusiak.freebloks.SHOW_STATISTICS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".donate.DonateActivity"
            android:label="@string/please_donate"
            android:icon="@drawable/coin"
            android:exported="false" >
            <intent-filter>
                <action android:name="de.saschahlusiak.freebloks.SHOW_DONATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_freebloks"
            android:exported="false"
            android:theme="@style/Theme.Freebloks.Dialog" >
            <intent-filter>
                <action android:name="de.saschahlusiak.freebloks.SHOW_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
